apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: gcr.io/k8-clusters-474002/frontend:1.15  # Tu imagen nginx actual
          ports:
            - containerPort: 80  # <-- Cambio: coincide con nginx
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80  # <-- Cambio: forward a 80 en pods
  type: LoadBalancer