name: Desplegar Pulumi a GKE

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  preview:
    if: github.event_name == 'pull_request'
    name: "Preview (PR)"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY_JSON }}

      - uses: google-github-actions/setup-gcloud@v2

      - name: Instalar plugin GKE auth
        run: |
          sudo apt-get update && sudo apt-get install -y google-cloud-sdk-gke-gcloud-auth-plugin

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: pip install -r infra/requirements.txt

      - name: Pulumi Preview
        uses: pulumi/actions@v5
        with:
          command: preview
          stack-name: dev
          work-dir: infra
          comment-on-pr: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GCP_PROJECT: ${{ secrets.GCP_PROJECT_ID }}
          PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    name: "Deploy (Main)"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY_JSON }}

      - uses: google-github-actions/setup-gcloud@v2

      - name: Instalar plugin GKE auth
        run: |
          sudo apt-get update && sudo apt-get install -y google-cloud-sdk-gke-gcloud-auth-plugin

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: pip install -r infra/requirements.txt

      - name: Pulumi Deploy
        uses: pulumi/actions@v5
        with:
          command: up --yes --skip-preview
          stack-name: dev
          work-dir: infra
          refresh: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GCP_PROJECT: ${{ secrets.GCP_PROJECT_ID }}
          PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
